body {
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
}

.container{
  display: flex;
  max-width: 600px;
  margin: 100px auto;
}
.container img{
  max-width: 50%;
  border-radius: 15px 0 0 15px;
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -ms-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
}
.container .info{
  background-color: white;
  border-radius: 0 15px 15px 0;
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  -ms-border-radius: 0 15px 15px 0;
  -o-border-radius: 0 15px 15px 0;
  padding: 30px;
}
.info > span {
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  letter-spacing: 3.8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.info h1{
  font-family: 'Fraunces', serif;
  color: hsl(212, 21%, 14%);
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
}
.info > p{
  line-height: 1.8;
  font-family: 'Montserrat', sans-serif;
  color: hsl(228, 12%, 48%);
}
.price{
display: flex;
align-items: center;
margin-bottom: 20px;
}
.price span:first-child{
  font-size: 32px;
  font-weight: bold;
  font-family: 'Fraunces', serif;
  color: hsl(158, 36%, 37%);
  margin-right: 10px;
}
.price span:last-child{
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}
.info button{
  display: inline-flex;
  justify-content: center;
  min-width: 100%;
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  padding: 20px;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.info button img{
  margin-right: 8px;
}
.info button:hover{
  background-color: #1b3d30;
}
#mobile {
  display: none;
}
.attribution{
  text-align: center;
}
@media (max-width:375px) {
  #mobile{
    display: block;
  }
  #desktop{
    display: none;
  }
  .container{
    flex-direction: column;
    margin: 50px 0;
  }
  .container > img{
    min-width: 100%;
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
}
.container .info{
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
}
}